BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_ID=
ADMIN_USERNAME=zinox_1M
WEB_ENABLED=false
WEB_HOST=0.0.0.0
WEB_PORT=8000
WEB_USER=admin
WEB_PASS=admin

# PythonAnywhere / webhook deploy uchun:
WEBHOOK_ENABLED=false
WEBHOOK_BASE_URL=https://<username>.pythonanywhere.com
WEBHOOK_PATH=/tg/<secret>
